In [ ]:
#hiddencell

# Stage 1

# 0. Intro

![inner_버스승차인원](https://user-images.githubusercontent.com/75363345/215958968-5bc315d2-cb67-4e13-ba23-4a545a4fc8cf.png)

# 이미지는 저작권 문제때문에 아직 손대진 않음
 

### 2022년 카타르 월드컵 대한민국의 16강 진출은 다들 보셨나요?

### 월드컵에서 활약한 선수들은 월드컵 전,후로 선수의 가치가 많이 올랐죠

### 특히 대한민국에선 조규성 선수가 대표적입니다.

### 각 구단에서 나중에 활약을 펼칠 선수들을 미리 예측한다면

### 구단의 순위, 재정 모든 방면에서 효율적이겠죠?

## 축구 선수 데이터를 이용해 선수가 유망한 선수인지를 판단하는 스카우터 역할의 AI 모델을 만들어 보세요!


<p style='text-align: right;'> february, 2023, ver.001 | All rights reserved by Dacon(쥬혁이 / 전주혁)</p>

---
#### <font color="green">**축구선수의 유망 여부 예측 AI 경진대회**</font>에 참여하신 데이커 여러분, 환영합니다. 🙌

### 현재 스포츠 분야에서도 인공지능이 널리 퍼지는 분위기라고 하죠.

### 특히 구단 입장에서 유망한 선수들을 예측해 미리 영입한다면

### 구단의 성장에 큰 영향을 끼칠 것입니다.

### 다 함께 16~21세의 축구선수의 유망 여부를 예측해 볼까요?

### 축구공처럼 통통 튀는 아이디어로 데이콘 프로젝트 킥 오프~!



# 1.Pandas 라이브러리 불러오기
[문제 1]

### pandas 라이브러리를 불러오기 위해서 아래 빈칸을 채워주세요.  
### 단, pandas는 자주 사용하는 라이브러리이므로 축약어인 `pd` 로 불러와주세요.


---
#### 라이브러리란?
##### 라이브러리는 개발자가 코드를 처음부터 작성할 필요가 없도록 Python 프로그램에 포함시킬 수 있는 자주 사용되는 코드 모음이에요

In [ ]:
# 데이터를 불러오고 살펴보기 위한 pandas 라이브러리
import pandas as pd

# train이라는 객체에 'train.csv' 파일을 할당해 줍니다.  
train = pd.read_csv('train.csv')

# submission이라는 객체에 'sample_submission.csv' 파일을 할당해 줍니다.  
submission = pd.read_csv('sample_submission.csv')

In [ ]:
#checkcode
#empty

### Inst.
분석에 사용할 데이터를 한번 불러와 보겠습니다.    

파이썬에서는 `import <라이브러리 이름>` 명령어을 사용해 필요한 라이브러리를 불러옵니다.  
`import pandas as pd`에서 as 를 사용한 이유는 자주 사용하는 명령어를 조금 더 쉽게 사용할 수 있도록 라이브러리를 할당하는 역할을 합니다. 


`import pandas`로 라이브러리를 불러온다면 `pandas.함수명`을 사용하야하는데, 해당 라이브러리를 여러 번 사용해야한다면 오랜 시간이 소요될 수 있습니다.  
반면, as를 사용했다면 `pd.함수명`으로도 사용할 수 있기 때문에 편리하게 라이브러리를 활용할 수 있습니다.


read_csv() 함수는 ('파일이 있는 위치/파일명.확장자명') 의 형식을 받아 데이터를 불러옵니다.

입력되어 있는 코드셀을 확인하고, 실행해 보세요!

### Hint.
empty

### Solution.
empty

train.csv 파일과 sample_submission.csv 파일을 train, submission이라는 이름으로 불러왔습니다.

[문제 1]  
pandas 라이브러리를 사용해

test.csv 파일을 직접 불러와 보세요!

In [ ]:
# test이라는 객체에 'test.csv' 파일을 할당해 줍니다.  
test = ___

In [15]:
#checkcode
arr = test.columns.to_list()
def check(test = test):
    if (test.shape == (1626, 65)) and (list(test.columns) == (arr)):
        return True
    else :
        return False

check()

True

### Inst.

test.csv 파일을 test라는 이름으로 불러오세요!

### Hint.
read_csv() 메소드를 이용해 봅시다.

### Solution.

test = pd.read_csv('test.csv')

# 2. 데이터 확인

이제 pd.read_csv 를 통해 불러온 데이터들이 어떻게 생겼는지 확인해 봐야겠죠?

일반적으로 데이터를 확인할 때 **head()**, **info()** 메소드를 활용하는 경우가 많습니다.

- head() : 처음 5행 선택    
\* (숫자)를 넣으면 지정 숫자만큼의 행을 선택할 수 있습니다.

- info() : 데이터 결측치 및 변수들의 타입 확인

데이터를 정렬하여 **이상치나 결측치**와 같은 데이터가 있는지 보기 위함입니다. 

그럼 데이터가 어떻게 생겼는지 확인해 볼까요?

In [ ]:
# 데이터 상위 5개 행 출력
train.head()

,id,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude,next_arrive_time
0,0,2019-10-15,405136001,7997025,360-1,33.456267,126.551750,제주대학교입구,06시,266.0,제대마을,33.457724,126.554014,24
1,1,2019-10-15,405136001,7997025,360-1,33.457724,126.554014,제대마을,06시,333.0,제대아파트,33.458783,126.557353,36
2,2,2019-10-15,405136001,7997025,360-1,33.458783,126.557353,제대아파트,06시,415.0,제주대학교,33.459893,126.561624,40
3,3,2019-10-15,405136001,7997025,360-1,33.479705,126.543811,남국원(아라방면),06시,578.0,제주여자중고등학교(아라방면),33.484860,126.542928,42
4,4,2019-10-15,405136001,7997025,360-1,33.485662,126.494923,도호동,07시,374.0,은남동,33.485822,126.490897,64

In [ ]:
#checkcode
#empty

### Inst.
.head( ) 메소드를 사용하면 데이터의 처음 5행을 선택할 수 있습니다.

만약 그 이상, 그 이하를 보고 싶다면 () 안의 숫자를 보고싶은 개수로 넣어주면 되어요.

### Hint.
empty

### Solution.
empty


[문제 2]  
train 파일을 확인하였으니 이제 test 파일도 확인해볼까요?

test 데이터를 8개만 봐보도록 하죠

아래 빈칸을 채워주세요.

In [ ]:
test.___

,id,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude
0,210457,2019-10-29,405136001,7997025,360-1,33.457724,126.554014,제대마을,07시,333.0,제대아파트,33.458783,126.557353
1,210458,2019-10-29,405136001,7997025,360-1,33.458783,126.557353,제대아파트,07시,415.0,제주대학교,33.459893,126.561624
2,210459,2019-10-29,405136001,7997025,360-1,33.478867,126.483833,한라중학교/부영아파트,08시,417.0,대림2차아파트,33.478850,126.488350
3,210460,2019-10-29,405136001,7997025,360-1,33.478850,126.488350,대림2차아파트,08시,334.0,연동대림1차아파트,33.480700,126.489933
4,210461,2019-10-29,405136001,7997025,360-1,33.480700,126.489933,연동대림1차아파트,08시,550.0,케이티앤지,33.482077,126.485355

### Inst.
.head( ) 메소드를 사용하면 데이터의 처음 5행을 선택할 수 있습니다.

head는 머리라는 뜻이니까 처음부터 보겠죠?
만약 마지막 5행을 보고 싶다면 어떤 메소드가 존재할까요?

맞아요 head의 반대인 .tail() 메소드도 존재해요

.tail() 메소드는 데이터의 마지막 5행을 보여줘요

### Hint.
empty

### Solution.
test.head(8)

그럼 info() 메소드를 이용해 데이터 컬럼, 결측치 및 변수들의 타입을 확인해 봅시다.

In [ ]:
# 데이터 결측치 및 변수들의 타입 확인
train.info()

In [ ]:
#checkcode
#empty

### Inst.

.info( ) 메소드를 활용하면 데이터의 컬럼명과 타입, 결측치의 개수를 알 수 있습니다.

### Hint.
empty

### Solution.
empty

데이터를 살펴보니 총 65개의 열(피처)이 있네요. 65개나 되기 때문에 하나하나 살펴보진 못하지만 열의 이름으로 축구 선수 한명 한명의 고유 Ability임을 알 수 있어요!

가볍게 한 번 살펴볼까요?

1. id : 해당 데이터에서의 고유한 ID
2. Age : 나이
3. Height : 키
4. Weight : 체중

위 와 같은 데이터들은 축구 선수 한명의 고유 신체 스펙이겠죠?

그리고 나머지는 
5. PassingTotal : 버스 노선 실제 번호
6. DribblingTotal : 현재 정류소의 위도

와 같은 축구 능력에 대한 데이터들이에요!

마지막으로 제일 중요한

7. Prospect : 유망 여부

는 인공지능을 통해 예측해야하는 데이터에요!

이렇게 총 65개의 열(변수)와 3019개의 행으로 이루어져 있습니다.
또한 Non-Null Count를 살펴보면 모든 변수에서 결측치(누락된 데이터)는 존재하지 않는 것을 알 수 있습니다.    
만약 결측치가 존재한다면 보다 정확한 모델을 설계하기 위해 결측치를 적절하게 처리해 주어야 합니다.

그럼 test 데이터도 한번 살펴보도록 하죠!

In [ ]:
test.___

In [ ]:
#checkcode
#empty

In [17]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1626 entries, 0 to 1625
Data columns (total 65 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1626 non-null   object
 1   Age                1626 non-null   int64
 2   Height             1626 non-null   int64
 3   Weight             1626 non-null   int64
 4   Position           1626 non-null   object
 5   PreferredFoot      1626 non-null   object
 6   AttackingWorkRate  1626 non-null   object
 7   DefensiveWorkRate  1626 non-null   object
 8   PaceTotal          1626 non-null   float64
 9   ShootingTotal      1626 non-null   float64
 10  PassingTotal       1626 non-null   float64
 11  DribblingTotal     1626 non-null   float64
 12  DefendingTotal     1626 non-null   float64
 13  PhysicalityTotal   1626 non-null   float64
 14  Crossing           1626 non-null   float64
 15  Finishing          1626 non-null   float64
 16  HeadingAccuracy    1626 non-null   float64
 17  ShortPassing       1626 non-null   float64
 18  Volleys            1626 non-null   float64
 19  Dribbling          1626 non-null   float64
 20  Curve              1626 non-null   float64
 21  FKAccuracy         1626 non-null   float64
 22  LongPassing        1626 non-null   float64
 23  BallControl        1626 non-null   float64
 24  Acceleration       1626 non-null   float64
 25  SprintSpeed        1626 non-null   float64
 26  Agility            1626 non-null   float64
 27  Reactions          1626 non-null   float64
 28  Balance            1626 non-null   float64
 29  ShotPower          1626 non-null   float64
 30  Jumping            1626 non-null   float64
 31  Stamina            1626 non-null   float64
 32  Strength           1626 non-null   float64
 33  LongShots          1626 non-null   float64
 34  Aggression         1626 non-null   float64
 35  Interceptions      1626 non-null   float64
 36  Positioning        1626 non-null   float64
 37  Vision             1626 non-null   float64
 38  Penalties          1626 non-null   float64
 39  Composure          1626 non-null   float64
 40  Marking            1626 non-null   float64
 41  StandingTackle     1626 non-null   float64
 42  SlidingTackle      1626 non-null   float64
 43  GKDiving           1626 non-null   float64
 44  GKHandling         1626 non-null   float64
 45  GKKicking          1626 non-null   float64
 46  GKPositioning      1626 non-null   float64
 47  GKReflexes         1626 non-null   float64
 48  STRating           1626 non-null   float64
 49  LWRating           1626 non-null   float64
 50  LFRating           1626 non-null   float64
 51  CFRating           1626 non-null   float64
 52  RFRating           1626 non-null   float64
 53  RWRating           1626 non-null   float64
 54  CAMRating          1626 non-null   float64
 55  LMRating           1626 non-null   float64
 56  CMRating           1626 non-null   float64
 57  RMRating           1626 non-null   float64
 58  LWBRating          1626 non-null   float64
 59  CDMRating          1626 non-null   float64
 60  RWBRating          1626 non-null   float64
 61  LBRating           1626 non-null   float64
 62  CBRating           1626 non-null   float64
 63  RBRating           1626 non-null   float64
 64  GKRating           1626 non-null   float64
dtypes: float64(57), int64(3), object(5)
memory usage: 825.8+ KB

### Solution.
test.info()

test 데이터에는 train 데이터에서 `Prospect` 열이 빠진 총 64개의 열이 존재하네요.

이번 분석은 **Prospect, 즉 축구 선수의 유망 여부를** 예측하는 문제라고 파악할 수 있습니다!

마지막으로 submission 데이터도 한번 살펴보도록 합시다.

submission 데이터는 test 데이터를 통해 예측해야하는 `Prospect`의 값이 들어가야 해요

그렇다면 test 데이터와 submission의 데이터의 행 길이는 같아야겠죠?

행 길이를 확인할 수 있는 len() 메소드를 알아봐요

In [19]:
len(test)

1626

In [18]:
len(submission)

1626

In [ ]:
#checkcode
#empty

### Inst.
len() 메소드를 사용하면 해당 데이터의 행 길이를 알 수 있어요

### Hint.
empty

### Solution.
empty

# 3. 제출 파일 생성 및 제출

앞서 sample_submission.csv 파일을 간단히 소개했어요.

submission 파일은 test 데이터를 예측한 값이 들어가야 하니까 예측한 값이 정확한지 평가를 받는 답안지라고 생각하면 돼요

그렇다면 이 제출 파일에 정답값을 채워 저장하는 방법을 알아야겠죠?

먼저 간단하게 제출 파일에 1이라는 값을 넣고 저장을 해봐요!

In [21]:
# 예측해야하는 데이터는 Prospect임을 잊지 않았죠?
submission['Prospect'] = 1
submission.head()

          ID  Prospect
0  TEST_0000         1
1  TEST_0001         1
2  TEST_0002         1
3  TEST_0003         1
4  TEST_0004         1

In [ ]:
#checkcode
#empty

### Inst.

예측 정답지를 1로 채워보아요

### Hint.
empty

### Solution.
empty

[문제 3]  
submission의 예측값을 1로 채웠었어요.

이 값을 다시 0으로 바꿔볼까요?

In [ ]:
submission___

       id  next_arrive_time
0  210457                85
1  210458                85
2  210459                85
3  210460                85
4  210461                85

In [27]:
#checkcode
def check(submission = submission):
    if submission['Prospect'].loc[0] == 0:
        return True
    else :
        return False

check()

True

### Inst.

submission 의 "Prospect"를 0으로 채워 보세요!

### Hint.

submission['컬럼명'] = 지정 값

### Solution.

submission['Prospect'] = 0

# 4. CSV 파일 저장하기

submission의 `Prospect` 값을 0으로 잘 채우셨나요?

이제 submission을 가지고 to_csv 메소드를 이용하여 제출용 파일 **submission.csv**을 생성해 보겠습니다.     
아래와 같이 말이죠!


<font color=red>submission</font><font color=orange>.to_csv</font><font color=black>(</font><font color=green>'beseline.csv',</font><font color=blue>index=False</font><font color=black>)</font>

각 기능을 색깔로 구별해 볼까요? </br>

<font color=red>데이터셋이 있는 객체명</font><font color=orange>.객체가 가지고 있는 csv 파일 생성용 매소드(함수)</font><font color=black>(</font><font color=green>저장할 파일의 이름과 확장자,</font><font color=blue>인덱스를 설정하지 않겠음(False)</font><font color=black>)</font>

In [ ]:
submission.to_csv('submission.csv', index=False)

In [ ]:
#checkcode
#empty
%reset -f

### Inst.
기본적으로 ".to_csv" 메소드는 데이터프레임(ex. submission) 객체의 내용을 csv 파일 형태로 만들어 저장해 주는 기능입니다. </br>
이렇게 해야 비로소 파이썬 안에서 작업한 내용이 파이썬 밖으로 빠져나가 여러분이 만질 수 있는 형태가 되는 거죠! </br>
이처럼 파일을 불러서 처리한 후, 저장하는 일련의 과정을 "데이터 i/o(input/output)를 처리한다" 라고 합니다. </br> 

그럼 to_csv 메소드를 이용하여 submission 객체의 내용을 csv 파일 형태로 만들어 주고,   
index=False를 하여 추가적인 인덱스 설정을 하지 말아 보겠습니다.    
(정확한 채점을 위해서는 index=False를 꼭 넣어 주어야 합니다!!!)

### Hint.
empty

### Solution.
empty


[문제 4]  
submission을 csv 파일 형태로 저장을 해 보았어요.

이 csv 파일 이름을 `step_1_clear` 로 바꿔서 다시 저장을 해볼까요?

In [ ]:
submission.___

In [28]:
submission.to_csv('step_1_clear.csv',index=False)

In [30]:
#checkcode
def check(submission2 = pd.read_csv('step_1_clear.csv')):
    if submission2.equals(submission):
        return True
    else :
        return False

check()

True

### Inst.
submission 파일을 원하는 이름으로 저장해보아요

### Hint.
'원하는 이름.csv'

### Solution.
submission.to_csv('step_1_clear.csv',index=False)